.pocetna_div {
  color: white;
  text-align: center;
  margin: auto;
  font-size: 40px;
  font-weight: bold;
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.pocetna_div p {
  margin: 0;
}

@media only screen and (max-width: 500px) {
  .pocetna_div p {
    font-size: 35px;
  }
}
