.task_list {
  width: 100%;
  max-width: 800px;
  display: flex;
  flex-direction: column;
  gap: 40px;
  padding-top: 5rem;
  padding-bottom: 2rem;
}

.label {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
  justify-content: space-between;
  color: white;
}
.label span {
  border-radius: 50%;
  background-color: #57c339;
  width: 120px;
  height: 120px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 40px;
  padding: 5px;
  margin-left: 10px;
  margin-right: 10px;
}
.title_box {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 1rem;
}
.title_box h1,
h2 {
  margin: 0px;
  width: 100%;
}
.title_box h1 {
  font-size: 40px;
}
.task_div {
  display: grid;
  gap: 20px;
}
.task {
  background-color: rgb(199, 199, 199);
  color: black;
  font-weight: bold;
  font-size: large;
  border: 2px solid rgb(199, 199, 199);
  border-radius: 5px;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 7px;
  margin-left: 10px;
  margin-right: 10px;
  justify-content: space-between;
}
.task p {
  font-size: 20px;
}
.task img {
  padding: 3px;
  width: 30px;
  height: 30px;
}
.no_tasks {
  text-align: center;
  font-size: 40px;
  color: white;
}
@media only screen and (max-width: 500px) {
  .title_box h1 {
    font-size: 25px;
  }
  .task h2 {
    font-size: 18px;
  }
  .no_tasks {
    font-size: 17px;
  }
}
