.nav {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-color: whitesmoke;
  width: 100%;
  padding: 5px 0;
  position: fixed;
  top: 0;
  right: 0;
  font-size: large;
  gap: 10px;
}

.nav a {
  color: #385170;
}
.nav a:hover {
  color: #000000;
}
.nav_links {
  display: flex;
  gap: 20px;
  margin-right: auto;
}
.span {
  position: relative;
}
.nav_links span {
  background-color: red;
  color: white;
  width: 18px;
  height: 18px;
  border-radius: 50%;
  font-size: small;
  display: flex;
  justify-content: center;
  align-items: end;
  position: absolute;
  right: -14px;
}
